name: Deploy Documentation

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Publish"]
    types:
      - completed
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set Up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '23'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: "9.0.0"

      - name: Make gradlew Executable
        run: chmod +x gradlew

      - name: Build and Generate Docs
        run: |
          ./gradlew dokkaGenerate

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/dokka
